<div class="container py-3">
    <h1 class="text-title text-center">Registro de Usuario</h1>

    <div class="container w-50 border p-4">
        <div class="mb-3">
            <label class="form-label">¿Qué tipo de usuario deseas crear?</label>
            <select class="form-select" (change)="cambiarTipoUsuario($event)">
                <option value="paciente" selected>Paciente</option>
                <option value="especialista">Especialista</option>
            </select>
        </div>
        <hr>
        <!--PACIENTE-->
        <registro-paciente *ngIf="esPaciente"></registro-paciente>
        <!--ESPECIALISTA-->
        <registro-especialista *ngIf="!esPaciente"></registro-especialista>
    </div>
    
</div>
