<div class="container py-3">
    <h1 class="text-title text-center">Registro de Usuario</h1>

    <div class="container w-50 border p-4">
        <div class="mb-3">
            <label class="form-label">Tipo de usuario</label>
            <select class="form-select" (change)="cambiarTipoUsuario($event)">
                <option value="paciente" selected>Paciente</option>
                <option value="especialista">Especialista</option>
                <option *ngIf="permitirRegistroAdmin" value="admin">Admin</option>
            </select>
        </div>
        <hr>
        <registro-admin *ngIf="permitirRegistroAdmin && altaRolElegido === 'admin'" (registroCompletado)="redirigir()"></registro-admin>
        <registro-paciente *ngIf="altaRolElegido === 'paciente'" (registroCompletado)="redirigir()"></registro-paciente>
        <registro-especialista *ngIf="altaRolElegido === 'especialista'" (registroCompletado)="redirigir()"></registro-especialista>
    </div>
</div>
