<div class="chart-container d-flex flex-column justify-content-center w-100 h-100">
    <ngx-charts-pie-chart
    [results]="dataGrafico"
    [view]="view"
    [scheme]="'cool'"
    [legend]="false"
    [labels]="true"
    [doughnut]="false"
    [explodeSlices]="false"
    [animations]="true">
  </ngx-charts-pie-chart>

    <div class="input-group row d-flex justify-content-center">
        <div class="col-3">
            <label for="fechaInicio">Fecha de inicio</label>
            <input type="date" id="fechaInicio" class="form-control" name="inicio" min="2024-01-01" max="{{this.fechaFin}}" (change)="generarDatosGrafico()" [(ngModel)]="fechaInicio" data-date-format="YYYY-MM-DD"/>
        </div>
        <div class="col-3">
            <label for="fechaFin">Fecha de fin</label>
            <input type="date" id="fechaFin"  class="form-control" name="final" min="{{this.fechaInicio}}" max="2026-01-01" (change)="generarDatosGrafico()" [(ngModel)]="fechaFin" data-date-format="YYYY-MM-DD"/>
        </div>
    </div>
  </div>