<div>
  <h1 class="text-title text-center mb-3">MI PERFIL</h1>
  <div class="container mt-5">
    <!-- Información del Usuario -->
    <div class="card mb-4 col-8 mx-auto" *ngIf="this.usuario">
      <div class="card-header">Información del Usuario</div>
      <div class="card-body row d-flex flex-row">
        <div class="col-6">
          <p><strong>Nombre:</strong> {{ usuario.informacion.nombre }}</p>
          <p><strong>Apellido:</strong> {{ usuario.informacion.apellido }}</p>
          <div class="row align-items-center">
            <div class="col-8">
              <p tooltip="El email está oculto por cuestiones de seguridad. Haz click en el botón para cambiar su visibilidad."><strong>Email:</strong> {{ ocultarCorreo ? (usuario.email | ocultarPalabra ) : usuario.email }} </p>
            </div>
            <div class="col-auto">
              <button *ngIf="!this.ocultarCorreo" class="btn btn-dark" (click)="ocultarCorreo = !ocultarCorreo"><i class="bi bi-eye-slash"></i></button>
              <button *ngIf="this.ocultarCorreo" class="btn btn-dark" (click)="ocultarCorreo = !ocultarCorreo"><i class="bi bi-eye"></i></button>
            </div>
          </div>
          <p><strong>Edad:</strong> {{ usuario.informacion.edad }}</p>         
          <div class="row align-items-center">
            <div class="col-8">
              <p tooltip="El DNI está oculto por cuestiones de seguridad. Haz click en el botón para cambiar su visibilidad."><strong>DNI:</strong> {{ ocultarDNI ? (usuario.informacion.dni | ocultarPalabra : false ) : usuario.informacion.dni }} </p>
            </div>
            <div class="col-auto">
              <button *ngIf="!this.ocultarDNI" class="btn btn-dark" (click)="ocultarDNI = !ocultarDNI"><i class="bi bi-eye-slash"></i></button>
              <button *ngIf="this.ocultarDNI" class="btn btn-dark" (click)="ocultarDNI = !ocultarDNI"><i class="bi bi-eye"></i></button>
            </div>
          </div> 
        </div>
        <!-- Muestra la imagen del usuario si existe -->
        <div class="col-6 d-flex justify-content-end" *ngIf="imagenUrl">
          <img [src]="imagenUrl" alt="Imagen de perfil" class="img-thumbnail" style="max-width: 200px;">
        </div>
      </div>
    </div>
  
    <div *ngIf="this.usuario && this.usuario.rol == 'paciente' && this.historiaPaciente">
      <hr>
      <tabla-historia-clinica [historiaPaciente]="this.historiaPaciente"></tabla-historia-clinica>
    
      <!-- Contenedor principal -->
      <div>
        <div class="row justify-content-center">
          <!-- Descargar historia clínica completa -->
          <div class="col-md-10 mb-3 text-center">
            <button class="btn btn-dark w-100" (click)="generarPdfHistoriaClinica()">Descargar historia clínica completa</button>
          </div>
        </div>
        <hr>
        <h2 class="text-center mb-5">Descarga completa de turnos por especialidad</h2>
        <div class="row justify-content-center align-items-center">
          <!-- Selector de especialidad -->
          <div class="col-md-3 text-end">
            <label for="especialidad" class="form-label">
              <strong>Seleccione una especialidad:</strong>
            </label>
          </div>
          <div class="col-md-3">
            <select id="especialidad" class="form-select" [(ngModel)]="especialidadSeleccionada">
              <option *ngFor="let especialidad of especialidades" [value]="especialidad">
                {{ especialidad }}
              </option>
            </select>
          </div>
          <!-- Botón de descarga por especialidad -->
          <div class="col-md-4">
            <button class="btn btn-dark w-100" (click)="generarPdfPorEspecialidad()">Descargar por especialidad</button>
          </div>
        </div>
      </div>
    </div>
    
  
    <!-- Disponibilidad Horaria del Especialista -->
    <div *ngIf="this.usuario && this.usuario.rol == 'especialista'" class="card col-6 mx-auto">
      <perfil-configuracion-especialista [usuario]="this.usuario"></perfil-configuracion-especialista>
    </div>   
  </div>
</div>