<div class="tabla-interactiva">
  <div class="d-flex flex-wrap justify-content-center" *ngIf="listaElementos.length > 0">
    <div class="card card-especialista text-center m-2 p-2" *ngFor="let especialista of listaElementos" [appHighlightSelection]="especialista === especialistaSeleccionado" (click)="seleccionarEspecialista(especialista)">
      <!-- Imagen del especialista -->
      <img [src]="especialista.imagenUrl" alt="{{ especialista.informacion.nombre }}" class="card-img-top img-especialista rounded-circle">
      <!-- Nombre del especialista -->
      <div class="card-body p-2">
        <p class="card-text fw-bold">
          {{ especialista.informacion.nombre }} {{ especialista.informacion.apellido }}
        </p>
      </div>
    </div>
  </div>
  <!-- Mensajes condicionales -->
  <p class="text-center" *ngIf="listaElementos.length === 0">No hay especialistas disponibles.</p>
</div>