<div class="container">
    <h3>Administradores</h3>
    <div class="row" style="max-height: 500px; overflow-y: auto; border: 1px solid #ddd; padding: 15px; border-radius: 8px;">
        <div class="col-md-4 mb-4" *ngFor="let admin of listaAdmins">
          <div class="card shadow h-100">
            <img [src]="admin.imagen" class="card-img-top img-thumbnail mx-auto mt-3" alt="Imagen de {{ admin.informacion.nombre }}" style="width: 100px; height: 100px; object-fit: cover;">
            <div class="card-body text-center">
              <h5 class="card-title">{{ admin.informacion.nombre }} {{ admin.informacion.apellido }}</h5>
              <div class="text-start">
                <p class="mb-1"><strong>Edad:</strong> {{ admin.informacion.edad }}</p>
                <p class="mb-1"><strong>DNI:</strong> {{ admin.informacion.dni }}</p>
                <p class="mb-1"><strong>Correo:</strong> {{ admin.email }}</p>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>