<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <i class="bi bi-hospital-fill fs-4 text-white me-2"></i>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" routerLink="home" routerLinkActive="active-route">Home</a>
          </li>
          <li class="nav-item" *ngIf="estaLogueado && rol == 'paciente' || rol == 'especialista'">
            <a class="nav-link active" routerLink="mis-turnos" routerLinkActive="active-route">Mis turnos</a>
          </li>
          <li class="nav-item" *ngIf="estaLogueado && rol == 'paciente' || rol == 'admin'">
            <a class="nav-link active" routerLink="nuevo-turno" routerLinkActive="active-route">Nuevo turno</a>
          </li>
          <li class="nav-item" *ngIf="estaLogueado && rol == 'admin'">
            <a class="nav-link active" routerLink="/turnos" routerLinkActive="active-route">Turnos</a>
          </li>
          <li class="nav-item" *ngIf="estaLogueado && rol == 'admin'">
            <a class="nav-link active" routerLink="usuarios" routerLinkActive="active-route">Usuarios</a>
          </li>
          <li class="nav-item" *ngIf="estaLogueado && rol == 'especialista'">
            <a class="nav-link active" routerLink="pacientes" routerLinkActive="active-route">Pacientes</a>
          </li>
          <li class="nav-item" *ngIf="estaLogueado && rol == 'admin'">
            <a href="#" class="nav-link" routerLinkActive="active-route" routerLink="informes">Informes</a>
          </li>
          <li class="nav-item" *ngIf="estaLogueado">
            <a href="#" class="nav-link ms-2 border-start" routerLinkActive="active-route" routerLink="mi-perfil">Mi perfil</a>
          </li>
          <li class="nav-item" *ngIf="estaLogueado">
            <a href="#" class="nav-link" routerLinkActive="active-route" (click)="cerrarSesion()">Cerrar sesión</a>
          </li>
        </ul>
        <span class="navbar-text fs-6 me-2 pe-2 border-end" *ngIf="estaLogueado">
          Rol: {{rol}}
        </span>
        <span class="navbar-text fs-6 me-2" *ngIf="estaLogueado">
          ¡Bienvenido {{username}}!
        </span>
        <span class="navbar-text fs-6 me-2" *ngIf="!estaLogueado">
          Sesión anónima
        </span>
      </div>
    </div>
</nav>