<div class="container">
    <h1 class="text-title text-center">INFORMES</h1>
    <div class="row">
        <div class="col-12 mt-2" *ngIf="turnos">
            <h2 class="text-subtitle text-center ps-2">Turnos por día</h2>
            <div class="d-flex justify-content-center">
                <informe-turnos-por-dia [turnos]="turnos"></informe-turnos-por-dia>
            </div>
        </div>
        <div class="col-12 mt-4" *ngIf="turnos">
            <h2 class="text-subtitle text-center ps-2"> Turnos por especialidad</h2>
            <div class="d-flex justify-content-center">
                <informe-turnos-por-especialidad [turnos]="turnos"></informe-turnos-por-especialidad>
            </div>
        </div>
        <div class="col-12 mt-4" *ngIf="logTurnos">
            <h2 class="text-subtitle text-center ps-2">Turnos solicitados por médico</h2>
            <div class="d-flex justify-content-center">
                <informe-turnos-por-medico-en-lapso [estado]="'solicitado'" [logTurnos]="logTurnos"></informe-turnos-por-medico-en-lapso>
            </div>
        </div>
        <div class="col-12 mt-4" *ngIf="logTurnos">
            <h2 class="text-subtitle text-center ps-2">Turnos realizados por médico</h2>
            <div class="d-flex justify-content-center">
               <informe-turnos-por-medico-en-lapso [estado]="'realizado'" [logTurnos]="logTurnos"></informe-turnos-por-medico-en-lapso>
            </div>
        </div>
        <div class="col-12 mt-4">
            <h2 class="text-subtitle text-center ps-2">Ingresos al sistema</h2>
            <div class="d-flex justify-content-center">
                <informe-logs></informe-logs>
            </div>
        </div>
    </div>
</div>