<div class="container">
    <h1 class="text-title text-center mb-2">INFORMES</h1>
    <div class="d-flex flex-column justify-content-center border rounded mb-2 w-50 mx-auto p-4">
        <p class="text-center">¡Bienvenido/a a la sección de informes!</p>
        <p class="text-center">Desde aquí podrás observar las estadísticas más relevantes de la clínica.</p>
        <p class="text-center">¿Quieres descargar estos informes?</p>
        <button class="btn btn-dark w-50 mx-auto" (click)="descargarPDF()">Descargar en formato PDF</button>
    </div>
    <div class="row border p-4">
        <div class="col-12 mt-2 mb-4" *ngIf="turnos">
            <h2 class="text-subtitle text-center ps-2 mb-4">Turnos por día</h2>
            <div class="d-flex justify-content-center">
                <informe-turnos-por-dia [turnos]="turnos" id="turnos-por-dia"></informe-turnos-por-dia>
            </div>
        </div>
        <hr>
        <div class="col-12 mt-2 mb-4" *ngIf="turnos">
            <h2 class="text-subtitle text-center ps-2 mb-4"> Turnos por especialidad</h2>
            <div class="d-flex justify-content-center">
                <informe-turnos-por-especialidad [turnos]="turnos" id="turnos-por-especialidad"></informe-turnos-por-especialidad>
            </div>
        </div>
        <hr>
        <div class="col-12 mt-2 mb-4" *ngIf="logTurnos">
            <h2 class="text-subtitle text-center ps-2 mb-4">Turnos solicitados por médico</h2>
            <div class="d-flex justify-content-center">
                <informe-turnos-por-medico-en-lapso [estado]="'solicitado'" [logTurnos]="logTurnos" id="turnos-solicitados-por-medico-en-lapso"></informe-turnos-por-medico-en-lapso>
            </div>
        </div>
        <hr>
        <div class="col-12 mt-2 mb-4" *ngIf="logTurnos">
            <h2 class="text-subtitle text-center ps-2 mb-4">Turnos realizados por médico</h2>
            <div class="d-flex justify-content-center">
               <informe-turnos-por-medico-en-lapso [estado]="'realizado'" [logTurnos]="logTurnos" id="turnos-realizados-por-medico-en-lapso"></informe-turnos-por-medico-en-lapso>
            </div>
        </div>
        <hr>
        <div class="col-12 mt-2 mb-4">
            <h2 class="text-subtitle text-center ps-2 mb-4">Ingresos al sistema</h2>
            <div class="d-flex justify-content-center">
                <informe-logs id="ingresos-al-sistema"></informe-logs>
            </div>
        </div>
    </div>
</div>