<div class="container mt-4">
  <h1 class="text-center text-title text-uppercase">NUEVO TURNO</h1>

  <div class="col-6 border p-4 mx-auto">
    <form [formGroup]="turnoForm" (ngSubmit)="cargarTurno()">
      <!-- Especialidad -->
      <div class="mb-3">
        <label for="especialidad" class="form-label">Especialidad</label>
        <lista-especialidades (filaSeleccionada)="seleccionarEspecialidad($event)"></lista-especialidades>
        <div *ngIf="especialidad?.dirty && especialidad?.touched" class="text-danger">
          <div *ngIf="especialidad?.invalid">
            La especialidad es obligatoria.
          </div>
        </div>
      </div>
  
      <!-- Especialista -->
      <div class="mb-3">
        <label for="especialista" class="form-label">Especialista</label>
        <lista-especialistas [especialidadSeleccionada]="this.especialidad?.value" (filaSeleccionada)="seleccionarEspecialista($event)"></lista-especialistas>
        <div *ngIf="especialista?.dirty && especialista?.touched" class="text-danger">
          <div *ngIf="especialista?.invalid">
            El especialista es obligatorio.
          </div>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="dia" class="form-label">Turnos</label>
        <lista-turnos [especialista]="this.especialista?.value" [especialidad]="this.especialidad?.value" (filaSeleccionada)="seleccionarTurno($event)"></lista-turnos>
        <div *ngIf="dia?.touched && dia?.touched" class="text-danger">
          <div *ngIf="dia?.invalid">
            El turno es obligatorio.
          </div>
        </div>
      </div>
  
      <div class="mb-3" *ngIf="this.usuarioRol == 'admin'">
        <label for="paciente" class="form-label">Paciente</label>
        <select formControlName="paciente" id="paciente" class="form-select">
          <option value="" disabled selected>Seleccione un paciente</option>
          <option *ngFor="let paciente of pacientes" [ngValue]="paciente.id">{{ paciente.informacion.nombre + " " + paciente.informacion.apellido }}</option>
        </select>
        <div *ngIf="paciente?.touched && paciente?.touched" class="text-danger">
          <div *ngIf="paciente?.invalid">
            El paciente es obligatorio.
          </div>
        </div>
      </div>
  
      <!-- Botón de Enviar -->
      <button type="submit" class="btn btn-dark w-100" [disabled]="this.turnoForm.invalid">Solicitar Turno</button>
    </form>
  </div>
</div>