.card-clickeable {
    cursor: pointer;
    width: 12rem !important; 
}
.card-clickeable:hover {
    background-color: rgb(192, 192, 192);
}

i {
    font-size: 6rem;
}

.home-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}

.info-card {
    background: rgba(0, 0, 0, 0.7);
}