<div class="container">
    <h1 class="text-center text-title text-uppercase">Clínica Fleming</h1>
    <div class="row justify-content-evenly">
        <div class="col-lg-5 col-12 card mb-2">
            <div class="card-body">
                <h5 class="card-title mb-3">¿Eres un nuevo paciente?</h5>
                <p class="card-text">
                    Al registrarte en nuestra clínica online, podrás acceder a las siguientes funcionalidades:
                </p>
                <ul>
                    <li>Reserva de turnos en línea con los profesionales de diversas especialidades.</li>
                    <li>Acceso a tu historial de consultas y tratamientos previos.</li>
                </ul>
                <hr>
                <h5 class="card-title mb-3">¿Eres un profesional?</h5>
                <p class="card-text">
                    Registrate para poder empezar a trabajar con nuestra plataforma. 
                </p>
                <a href="/registro" class="btn btn-dark w-100">Regístrate aquí</a>
            </div>
        </div>
        <div class="col-lg-5 col-12 p-0">
            <login></login>
        </div>
    </div>
</div>