<h3>Pacientes</h3>
<div class="tabla-scroll">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre completo</th>
                <th>Edad</th>
                <th>Obra Social</th>
                <th>Imagen</th>
                <th>Historia clínica</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of listaPacientes">
                <td>{{ usuario.informacion.nombre }} {{ usuario.informacion.apellido }}</td>
                <td>{{ usuario.informacion.edad }}</td>
                <td>{{ usuario.informacion.obraSocial }}</td>
                <td><img class="img-perfil mx-auto" style="width: 50px;" src="{{ usuario.imagen }}"></td>
                <td><button class="btn btn-dark w-100" (click)="this.idPacienteSeleccionado.emit(usuario.id)">Ver</button></td>
            </tr>
        </tbody>
    </table>
</div>