<h3>Especialistas</h3>
<div class="tabla-scroll">
    <table class="table table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Nombre completo</th>
                <th>Edad</th>
                <th>Especialidades</th>
                <th>Imagen</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let especialista of listaEspecialistas">
                <td>{{ especialista.informacion.nombre }} {{ especialista.informacion.apellido }}</td>
                <td>{{ especialista.informacion.edad }}</td>
                <td>{{ this.obtenerEspecialidades(especialista) }}</td>
                <td><img class="img-perfil mx-auto" src="{{ especialista.imagen }}"></td>
                <td><button class="btn btn-dark" [ngClass]="especialista.autorizado ? 'btn-danger' : 'btn-success'" (click)="cambiarAutorizacion(especialista)">{{ especialista.autorizado ? 'Desactivar' : 'Activar' }}</button></td>
            </tr>
        </tbody>
    </table>
</div>